<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark">
                    <h5 class="text-center text-white">Rubros Generales</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>#</th>
                                <th>Denominacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let rubro of rubros;index as ind">
                                <th scope="row">{{(ind+1)}}</th>
                                <td>{{rubro.denominacion}}</td>
                                <td>
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#modalRubro" (click)="preUpdateRubro(rubro)"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger" (click)="onDelete(rubro._id)"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-success" data-toggle="modal" data-target="#modalRubro"  >Agregar <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark ">
                    <h5 class="text-white text-center">Rubros Artículos</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="bg-info">
                            <tr>
                                <th>Denominación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Limpieza</td>
                                <td>
                                    <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Bebidas</td>
                                <td>
                                    <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-success">Agregar <i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
<app-modalrubrogen></app-modalrubrogen>