<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a [routerLink]="[dynRoute]" class="navbar-brand">
            <span class="ml-1"><i class="fas fa-utensils"></i> El Buen Sabor</span>
        </a>
        <ul class="navbar-nav ml-auto" *ngIf="isLogged">
            <li class="nav-item">
                <span class="nav-link disabled" tabindex="-1" aria-disabled="true">
                    {{email}}
                </span>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Opciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/panel">Panel</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logOut($event)">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>