<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-dark text-center text-white">
      <h3>Usuarios</h3>
    </div>
    <div class="card-body">
      <div class="form-group col-md-5">
        <div class="form-row">
          <div class="form-group col-md-7">
            <label for="search">Buscar</label>
            <input type="text" class="form-control" name="search" (input)="search($event.target.value)">
          </div>
        </div>
      </div>
    
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let user; index as ind">{{ ind + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let user">{{user.nombre?user.nombre:'desconocido'}}</td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>
        <ng-container matColumnDef="DNI">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let user">
            {{ user.dni ? user.dni : "indefinido" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Telefono">
          <th mat-header-cell *matHeaderCellDef>Telefono</th>
          <td mat-cell *matCellDef="let user">
            {{ user.telefono ? user.telefono : "indefinido" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Fecha Nac.">
          <th mat-header-cell *matHeaderCellDef>Fecha Nac.</th>
          <td mat-cell *matCellDef="let user">101095</td>
        </ng-container>
        <ng-container matColumnDef="Sexo">
          <th mat-header-cell *matHeaderCellDef>Sexo</th>
          <td mat-cell *matCellDef="let user">Masculino</td>
        </ng-container>
        <ng-container matColumnDef="Domicilio">
          <th mat-header-cell *matHeaderCellDef>Domicilio</th>
          <td mat-cell *matCellDef="let user">
            {{
              user.domicilio
                ? user.domicilio.calle + " " + user.domicilio.numero
                : "no"
            }}
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        (page)="onPageChange($event)"
        [pageSize]="pageCount"
        [length]="totalCount"
        [pageIndex]="currentPage"
        [pageSizeOptions]="[5, 10, 15]"
        class="text-white mt-3"
      >
      </mat-paginator>
    </div>
  </div>
  
</div>
