<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-dark text-center text-white">
      <h2>Usuarios</h2>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <input type="search" class="form-control" name="search" (input)="search($event.target.value)" placeholder="Buscar . . .">
        </div>
      </div>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let user; index as ind">{{ ind + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let user">{{user.nombre?user.nombre:'Sin Datos'}}</td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>
        <ng-container matColumnDef="Rol">
          <th mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let user">{{ user.role | uppercase}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="user.online; else offline">
              <span class="text-success">conectado</span>
            </ng-container>
            <ng-template #offline>
              <span class="text-danger">desconectado</span>
            </ng-template>
            
          </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <tr mat-cell *matCellDef="let user">
            <button class="btn btn-warning" data-toggle="modal" data-target="#rolChange" (click)="editUser($event, user)">Rol</button>
          </tr>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        (page)="onPageChange($event)"
        [pageSize]="pageCount"
        [length]="totalCount"
        [pageIndex]="currentPage"
        [pageSizeOptions]="[5, 10, 15]"
        class="text-white mt-3"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<!-- Modal Rol Usuario -->
<app-modal-rol [userData]="userProp"></app-modal-rol>