.nav {
    .nav-item{
        box-sizing: border-box;
        height: 150px;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;

        i {
            font-size: 3rem
        }

        &:hover{
            background-color: #444A5C;
            border-left: solid 2px #17a2b8;   
        }
    }
}


#panel{
    background-color: #444A5C;
    // border: 1px solid red;
}