<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-header bg-dark">
                    <h4 class="text-white text-center">
                        Usuarios Registrados
                    </h4>
                </div>
                <div class="card-body">
                    <div class="col-md-6 mt-2 mb-5">
                        <input type="search" placeholder="Buscar...">
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="d-none">Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>DNI</th>
                                <th>Teléfono</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Sexo</th>
                                <th>Domicilio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="d-none">12312</td>
                                <td>Chanin</td>
                                <td>danieltapia9514@gmail.com</td>
                                <td>39377694</td>
                                <td>2612599229</td>
                                <td>10/10/95</td>
                                <td>Masculino</td>
                                <td>Malvinas argentinas 1451</td>
                            </tr>
                            <tr>
                                <td class="d-none">12312</td>
                                <td>Chanin</td>
                                <td>danieltapia9514@gmail.com</td>
                                <td>39377694</td>
                                <td>2612599229</td>
                                <td>10/10/95</td>
                                <td>Masculino</td>
                                <td>Malvinas argentinas 1451</td>
                            </tr>
                            <tr>
                                <td class="d-none">12312</td>
                                <td>Chanin</td>
                                <td>danieltapia9514@gmail.com</td>
                                <td>39377694</td>
                                <td>2612599229</td>
                                <td>10/10/95</td>
                                <td>Masculino</td>
                                <td>Malvinas argentinas 1451</td>
                            </tr>
                            <tr>
                                <td class="d-none">12312</td>
                                <td>Chanin</td>
                                <td>danieltapia9514@gmail.com</td>
                                <td>39377694</td>
                                <td>2612599229</td>
                                <td>10/10/95</td>
                                <td>Masculino</td>
                                <td>Malvinas argentinas 1451</td>
                            </tr>
                            <tr>
                                
                                <td class="d-none">12312</td>
                                <td>Chanin</td>
                                <td>danieltapia9514@gmail.com</td>
                                <td>39377694</td>
                                <td>2612599229</td>
                                <td>10/10/95</td>
                                <td>Masculino</td>
                                <td>Malvinas argentinas 1451</td>
                            </tr>
                            <tr>
                                <td class="d-none">12312</td>
                                <td>Chanin</td>
                                <td>danieltapia9514@gmail.com</td>
                                <td>39377694</td>
                                <td>2612599229</td>
                                <td>10/10/95</td>
                                <td>Masculino</td>
                                <td>Malvinas argentinas 1451</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!--PAGINACION-->
            <div class="mt-3">
                <nav aria-label="Page navigation" >
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" class="page-link"
                            aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link"
                            aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>