#titulo{
    font-size:1.5rem;
}
.menu-op{
    width:75%;
    height: 400px;
    position: relative;
    
   
}
.menu-op .columnas{
    height:100%;
    border:1px dashed red;
}
.opciones{

    height:100px;
  
}
.opciones p{
    font-size:1.5rem;
}

#icono-settings {
    font-size:150px;
    position:absolute;
    top:25%;
    right:40%;
    box-sizing: border-box;
    color: #858399;
}