#menu{
    margin: 6% auto;
    .row{
        height: 175px;
        .col-6, .col-12 {
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 200px;
                height: 100px;
                font-size: 1.25rem;
            }
            #icono-settings {
                margin: auto;
                font-size: 150px;
                box-sizing: border-box;
                color: #858399;
            }
        }
    }
}