.accordion {
  overflow-y: scroll;
  max-height: 500px;
}

.item {
  cursor: pointer;
  border-radius: 20px 0 !important;

}

.item-button {
  height: 80px;
}

.item-button div {
  width: 30%;
  height: 70px;
  border-right: dotted 2px white;

  p {
    font-size: 15px;
  }

  &:last-child {
    border: none
  }
}

.descripcion {
  background: linear-gradient(90deg, rgba(46, 46, 48, 1) 0%, rgba(41, 41, 56, 0.8799894957983193) 48%, rgba(1, 11, 13, 1) 100%, rgba(0, 212, 255, 1) 100%);
  font-size: 15px;

  border-radius: 20px 0;
}

.detalle {
  width: 90%;
  max-height: 250px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #615656;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Cambiamos el fondo cuando esté en active */
  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  font-size: 14px;

  .item-detalle span {
    font-size: 16px;
  }
}

.nota p {
  font-size: 11px;
}

.noPedidos {

  width: 300px;
  height: 300px;

  i {
    font-size: 100px;
  }

  p {
    font-size: 30px
  }
}

.btnDemorar {
  width: 50%;
}
