<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12" *ngIf="comida$ | async as comidas; else load">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="text-white text-center">
                        Ranking ordenado de comidas pedidas
                    </h4>
                </div>
                <div class="card-body">
                  <div class="col-md-12 justify-content-center mb-2">
                    <div class="form-check">
                      <input [(ngModel)]="allTime" (ngModelChange)="changeAllTime()" class="form-check-input" type="checkbox" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Todo los tiempos
                      </label>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-12 row d-flex justify-content-between">
                    <div class="input-group col-md-6">
                      <span class="input-group-text" id="basic-addon1">Fecha Desde</span>
                      <input [(ngModel)]="desde" type="datetime-local" class="form-control" [disabled]="allTime">
                    </div>
                    <div class="input-group col-md-6">
                      <span class="input-group-text" id="basic-addon1">Fecha Hasta</span>
                      <input [(ngModel)]="hasta" type="datetime-local" class="form-control" [disabled]="allTime">
                    </div>
                    <div class="col-md-12 mt-4 d-flex justify-content-center">
                      <button type="button" [ngClass]="{disabled : allTime}" class="btn btn-primary" [disabled]="allTime" (click)="changeFecha()">Aplicar Fechas</button>
                    </div>
                  </div>
                    <table class="table table-striped mt-2" id="table" #table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Comida</th>
                                <th>Cantidad de veces comprado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let comida of comida$ | async'>
                                <td>{{comida._id}}</td>
                                <td>{{comida.denominacion}}</td>
                                <td>{{comida.cantidadComprado}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-danger" role="alert" *ngIf="error">
                      {{errorMsg}}
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
               <button type="button" class="btn btn-success btn-lg" [disabled]="comidas.length == 0" (click)="saveExcel()">Guardar en Excel</button>
            </div>
        </div>
        <ng-template #load>
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </ng-template>
    </div>
</div>
