<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark">
                    <h4 class="text-center text-white">
                        Articulos
                    </h4>
                </div>
                <div class="card-body">
                    <button class="btn btn-success m-3">
                        Agregar articulo <i class="fas fa-plus"></i>
                    </button>
                    <div class="d-flex flex-wrap justify-content-around">
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida1.jfif" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida2.jpg" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida3.jpg" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida4.png" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida5.jpg" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida6.png" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida6.png" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        <div class="col-md-3 border border-info rounded p-2 articulo mx-1 mb-4">
                            <h4 class="text-center text-white bg-dark">Title</h4>
                            <img src="../../../assets/img/comida6.png" class="mx-auto d-block my-2" alt="">
                            <button class="btn btn-warning btn-block">Ver información</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>