<div class="accordion" id="accordionExample">
    <div class=" item mx-5 my-3 bg-dark rounded-lg">
      <div class=" item-button d-flex  align-items-center text-white " id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <div class="user mx-3 d-flex flex-column  ">
            <p class="secundario">Malvinas argentinas 1451</p>
            <h5 class="text-success">Mario Benito</h5>
        </div>
        <div class="estado mx-3 d-flex flex-column ">
            <p>Solicitado a las:</p>
            <h5 class="text-success ">7.13 PM</h5>
        </div>
        <div class="estado mx-3 d-flex flex-column ">
            <p>Pago</p>
            <h5 class="text-success">Efectivo</h5>
        </div>
        
      </div>
  
      <div id="collapseOne" class="descripcion collapse row no-gutters text-white wrapp" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="datos col-md-5 d-flex align-items-left flex-column pl-5 pt-4">
            <h5>
                Marcelo Benito
            </h5>
            <p>Malvinas Argentinas 1451</p>
            <p>(261)-1552032131</p>
            <p><i class="far fa-credit-card"></i>  Pago: Efectivo</p>
            <p><i class="far fa-clock"></i>  Solicitado a las : 7.13 PM</p>
        </div>
        <div class="col-md-7 d-flex align-items-left flex-column px-3 pt-4">
            <h5 class="align-self-center">Detalle</h5>
            <div class="detalle d-flex flex-column mx-auto px-2">
                
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">2</span> Pizza</p>
                    <span>$600</span>
                </div>
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">1</span> Pepsi 500ml</p>
                    <span>$100</span>
                </div>
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">1</span> Pepsi 500ml</p>
                    <span>$100</span>
                </div>
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">1</span> Pepsi 500ml</p>
                    <span>$100</span>
                </div>
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">1</span> Pepsi 500ml</p>
                    <span>$100</span>
                </div>
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">1</span> Pepsi 500ml</p>
                    <span>$100</span>
                </div>
                <div class="item-detalle d-flex justify-content-between">
                    <p><span class="badge badge-secondary">1</span> Pepsi 500ml</p>
                    <span>$100</span>
                </div>

            </div>
            
            <div class="d-flex justify-content-between px-4 ">
                <h5 class="text-info">Total</h5>
                <h5 class="text-info">$600</h5>
            </div>
            <div class="nota px-4">
                <p class=""><strong>Nota:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facere sequi obcaecati dolore, quae omnis molestias deleniti consequuntur voluptates alias eligendi nam quia cum eaque!</p>
            </div>
            
        </div>
        <div class="col-md-12 d-flex justify-content-end pr-5 pb-3">
            <button class="btn  btn-outline-info rounded-pill d-block mx-2">Cancelar</button>
            <button class="btn  btn-outline-info rounded-pill d-block mx-2">Aceptar</button>
        </div>
      </div>
    </div>
    
  </div>